<ion-content>
  <div class="logo-top">
    <img src="assets/imgs/logo-big.svg" alt="">
  </div>
  <div class="reg-block">
    <h4>Login</h4>
    <p>Enter your account details to log in.</p>
    <div class="form-wrapper">
      <ion-list>


        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Email Address</ion-label>
          <div class="input-wrap">
            <img src="assets/imgs/register/message.svg" alt="">
            <ion-input [(ngModel)]="emailInput" inputmode="email" type="email"></ion-input>
          </div>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Password</ion-label>
          <div class="input-wrap">
            <img src="assets/imgs/register/user.svg" alt="">
            <ion-input [(ngModel)]="passwordInput" type="password"></ion-input>
          </div>
        </ion-item>


        <ion-button (click)="logIn()">Continue</ion-button>
        <ion-button class="tsp-button" [routerLink]="['/sign-up']" fill="clear" outline="none"
          routerLinkActive="router-link-active">Sign Up</ion-button>

      </ion-list>
    </div>
  </div>
  <div *ngIf="showBox === true" class="confirmation-box-container">
    <div class="confirmation-box">
      <h3>{{dialog?.title}}</h3>
      <p>{{dialog?.text}}</p>
      <button (click)="closeDialog()">Ok</button>
    </div>
  </div>
</ion-content>