<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Crop Image</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="croppedImage" color="success" (click)="saveImage()">
        Crop
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <image-cropper [aspectRatio]="4/3" [imageBase64]="rawImage" [onlyScaleDown]="true" outputType="base64" format="png"
    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed($event)">
  </image-cropper>
  <!-- <ion-button   expand="block">
      Save
    </ion-button> -->

</ion-content>